body{
    background-color:       #f9f9f9;
}


/* Navigation Menu */
.nav {
    font-family:            'Ubuntu Mono', monospace;
    letter-spacing:         2px;
    font-size:              1.2em;
    
    padding-top:            60px;
}

.tabs {
    text-align:             right;
}

.line {
    border-top:             2px solid #8c8b8b;
    margin-top:             20px;
}


/* Blurb about Me */
.blurb {
    padding-top:            100px;
}

.greeting {
    font-family:            'Ubuntu Mono', monospace;
    font-size:              2em;
    letter-spacing:         2px;
}

.sentence {
    font-family:            'Lato', sans-serif;
    font-size:              3.5em;
    letter-spacing:         2px;
    line-height:            1.3em;
    
    padding-top:            20px;
}

/* Row One of Works */
.one {
    padding-top:            140px;
}

.one-phone {
    max-width:              5000%;
}

/* Row two of Works */
.two {
    padding-top:            70px;
}

/* Works */
.titles {
    font-family:            'Lato', sans-serif;
    font-size:              2em;
    letter-spacing:         2px;
    
    padding-top:            20px;
}

.tags {
    font-family:            'Ubuntu Mono', monospace;
    font-size:              1.17em;
}